<a href="https://colab.research.google.com/github/FranciscoBenvindo/alura-git/blob/main/C%C3%B3pia_de_Machine_Learning_Aula02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)

In [ ]:
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
mapa = { "home": "principal", 
         "how_it_works":"comofunciona",
         "contact" : "contato",
         "bought": "comprou"
         }
mapa

{'home': 'principal',
 'how_it_works': 'comofunciona',
 'contact': 'contato',
 'bought': 'comprou'}

In [ ]:
dados = dados.rename (columns = mapa)
dados

    principal  comofunciona  contato  comprou
0           1             1        0        0
1           1             1        0        0
2           1             1        0        0
3           1             1        0        0
4           1             1        0        0
..        ...           ...      ...      ...
94          0             0        1        0
95          1             1        1        1
96          0             0        1        0
97          0             1        0        0
98          0             0        0        0

[99 rows x 4 columns]

In [ ]:
x= dados[["principal","comofunciona","contato"]]
y= dados["comprou"]

In [ ]:
x , y

(    principal  comofunciona  contato
 0           1             1        0
 1           1             1        0
 2           1             1        0
 3           1             1        0
 4           1             1        0
 ..        ...           ...      ...
 94          0             0        1
 95          1             1        1
 96          0             0        1
 97          0             1        0
 98          0             0        0

 [99 rows x 3 columns], 0     0
 1     0
 2     0
 3     0
 4     0
      ..
 94    0
 95    1
 96    0
 97    0
 98    0
 Name: comprou, Length: 99, dtype: int64)

In [ ]:
x.head()

   principal  comofunciona  contato
0          1             1        0
1          1             1        0
2          1             1        0
3          1             1        0
4          1             1        0

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [ ]:
dados.shape

(99, 4)

In [ ]:
treino_x = x[:75]
treino_x.head()
treino_x.shape

(75, 3)

In [ ]:
treino_y = y[:75]
treino_y.shape

(75,)

In [ ]:
teste_x = x[75:]
teste_y = y[75:]
teste_x.shape
teste_y.shape

(24,)

In [ ]:
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [ ]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC()

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
previsoes = modelo.predict(teste_x)
previsoes
type(previsoes)

numpy.ndarray

In [ ]:
previsoes

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0])

In [ ]:
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.3f%%" % acuracia)

A acurácia foi 95.833%

In [ ]:
print (mapa['home'])

principal

# ***Usando o train_test_split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                         random_state = SEED, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%